img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  /* padding: 0; */
  max-width: 1170px;
}

main {
  overflow: hidden;
}

.lang-btn {
  background-color: rgba(0, 0, 0, 0.178);
  color: white;
  padding: 7px 10px;
  border-radius: 10px;
}

.sec-title {
  margin-bottom: 76px;
  text-align: center;

  & h2 {
    font-size: 60px;
    font-weight: bold;
    color: rgb(31, 90, 188);
    padding-bottom: 8px;
    position: relative;
    @media (max-width: 995px) {
      font-size: 45px;
    }

    &::before {
      content: "";
      height: 2px;
      background-color: rgb(255, 226, 122);
      width: 70px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -35px;
    }

    & span {
      font-size: 18px;
      letter-spacing: 4.5px;
      margin-right: 12px;
    }
  }

  & p {
    margin-top: 15px;
    color: rgb(20, 43, 95);
  }
}

.bg-waves {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.bg-waves .wave {
  position: absolute;
}

.bg-waves .wave.wave-bottom-left {
  top: auto;
  bottom: -40px;
  left: 0;
  right: auto;
  width: 367px;
  @media (max-width: 995px) {
    left: -200px;
  }
}

.bg-waves .wave.wave-bottom-right {
  top: auto;
  bottom: -40px;
  left: auto;
  right: 0;
  width: 326px;
  @media (max-width: 995px) {
    right: -200px;
  }
}

.bg-waves .wave.wave-top-left {
  top: -40px;
  bottom: auto;
  left: 0;
  right: auto;
  width: 421px;
  @media (max-width: 995px) {
    left: -200px;
  }
}

.bg-waves .wave.wave-top-right {
  top: -40px;
  bottom: auto;
  left: auto;
  right: 0;
  width: 380px;
  @media (max-width: 995px) {
    right: -200px;
  }
}

.bg-waves .wave img.layer {
  position: absolute;
  animation: waves 5s infinite ease-in-out;
  height: auto;
}

.bg-waves .wave.wave-bottom-left img.layer {
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
}

.bg-waves .wave.wave-bottom-right img.layer {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.bg-waves .wave.wave-top-left img.layer {
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
}

.bg-waves .wave.wave-top-right img.layer {
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
}

@keyframes waves {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.swiper {
  direction: ltr !important;
}