.blogs-page {
  padding: 50px 0 130px;
}

.blogs-page aside {
  margin-top: 70px;
  padding-left: 30px;
}

.blogs-page aside .aside__search-form {
  display: flex;
  align-items: center;
  margin-bottom: 45px;

  & input {
    width: 100%;
    padding: 11px 47px 11px 14px;
    background-color: rgba(64, 166, 255, 0.1);
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    &:focus {
      outline: 0;
    }
  }
  
  & button[type="submit"] {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 166, 255, 0.1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    & img {
      width: 15px;
      height: 15px;
    }
  }
}

.blogs-page aside .aside__widget h3 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(20, 43, 95);
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 22px;

  &::before {
    content: '';
    background-color: #40a6ff;
    height: 3px;
    width: 20px;
  }
}

.blogs-page aside .aside__widget .widget__mini-posts {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: transparent;
  border-radius: 10px;
  transition: background-color .4s;

  & .mini-posts__img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
  }

  & .mini-posts__info h4 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(20, 43, 95);
  }

  & .mini-posts__info span {
    font-size: 12px;
    font-weight: 500;
    color: rgb(31, 90, 188);
  }

  &:hover {
    background-color: rgba(64, 166, 255, 0.21);
  }
}

.blogs-page aside .aside_bg-text {
  margin-top: 45px;
  text-align: center;
  width: 100%;
  color: #fff;

  .aside_bg-text_wrap {
    background-image: url('/images/banner-bg1.jpg');
    background-size: cover;
    background-position: center;
    padding: 35px;
    border-radius: 20px;

    h4 {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
    }
    p {
      margin-top: 8px;
    }
  }
}