.services-wrap {
  background-color: rgb(210, 234, 255);
  width: 100%;
  position: relative;
}

.services-caro {
  position: relative;
  margin: -115px 0 0;
  min-height: 690.2px;
  height: 690.2px;
  z-index: 1;

  @media (max-width: 998px) {
    height: unset;
  }

  & .swiper {
    position: static;

    & .swiper-button-prev {
      left: -30px;
      [dir=rtl] & {
        left: unset;
        right: -30px;
      }
    }
    & .swiper-button-next {
      right: -30px;
      [dir=rtl] & {
        right: unset;
        left: -30px;
      }
    }
  }
}