.breadcrumbs {
  padding: 160px 0 35px;
  color: #fff;
}

.breadcrumbs .page-info h1 {
  font-size: 55px;
  font-weight: bold;
  color: #ffe27a;

  @media (max-width: 770px) {
    font-size: 45px;
  }
}

.breadcrumbs .page-info p {
  margin-top: 20px;
}

.breadcrumbs .page-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;

  & li {
    padding: 0 20px;
    text-transform: capitalize;
    position: relative;

    &:not(:first-child) {
      padding-left: 30px;

      [dir=rtl] & {
        padding-left: unset;
        padding-right: 30px;
      }
    }

    &:not(:first-child)::before {
      content: '';
      background-image: url('/images/chevron-right-white.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    [dir=rtl] & {
      &:not(:first-child)::before {
        left: unset;
        right: 0;
        transform: rotate(180deg) translateY(50%);
      }
    }
    
    &:last-child {
      cursor: default;
      pointer-events: none;
      color: #ffe27a;

      &:not(:first-child)::before {
        background-image: url('/images/chevron-right-yellow.svg');
      }
    }
  }
}

.breadcrumbs.sub {
  padding-bottom: 180px;
}

.breadcrumbs.sub .page-info h1 {
  font-size: 36px;
}

.breadcrumbs.sub .page-info p {
  display: none;
}

.breadcrumbs.sub .page-breadcrumb {
  margin-top: 25px;
}